.home {
  width: 40rem;
  text-align: center;
  height: 70%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;

  .paragraph {
    text-align: justify;
  }

  hr {
    width: 5rem;
    
  }
}

.begin-button {
  position: relative;
  margin: 0 auto;
  background: $action_green;
  width: 10rem;
  color: white;
}
