.home {
  width: 40rem;
  text-align: center;
  height: 70%;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.25rem;

  .paragraph {
    text-align: justify;
  }

  hr {
    width: 5rem;
    border: 0;
    border-bottom: 1px solid $grey;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .prompt {
    text-align: center;
    position: relative;
  }

  .svg-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    svg {
      fill: $selected_blue;
      position: absolute;
      animation: bounce 1.5s ease infinite;
      width: 25px;
      height: 25px;
    }

    @keyframes bounce {
      0% {top: 10px}
      50% {top: 6px}
      75% {top: 10px}
      100% {top: 0px}
    }
  }

}

.begin-button {
  position: relative;
  margin: 0 auto;
  background: $action_green;
  width: 10rem;
  color: white;
}
