.home {
  width: 40rem;
  text-align: center;
  height: 70%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2rem;
}

.begin-button {
  background: red;
  width: 10rem;
  color: white;
}
