html, body {
  font-family: 'Hind Guntur', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: $background;
  color: $colour;
}

body.loading {
  margin: 0;
  padding: 0;
  overflow-y: hidden !important;
}

#fullpage {
  overflow: hidden;
}

/*some global styles*/

.hidden {
  display: none !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

}



h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1.25
}

a {
  text-decoration: none;
  color: $selected_blue;

  &:hover {
    transition: .2s;
    text-decoration: underline;
  }

  &:visited {
    color: $selected_blue;
  }
}

// arrow containers

.down-arrow-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  svg {
    fill: $selected_blue;
    position: absolute;
    animation: bounceDown .75s ease alternate infinite;
    width: 25px;
    height: 25px;
    cursor: pointer;

    &:hover {
      transition: .25s;
      fill: darken($selected_blue, 10%);
    }
  }

  @keyframes bounceDown {
    0% {top: 10px}
    50% {top: 6px}
    75% {top: 10px}
    100% {top: 0px}
  }
}

.right-arrow-container{
  position: absolute;
  right: 50px;

  svg {
    fill: $selected_blue;
    position: absolute;
    animation: bounceRight .75s ease alternate infinite;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: rotate(270deg);

    &:hover {
      transition: .25s;
      fill: darken($selected_blue, 10%);
    }
  }

  @keyframes bounceRight {
    0% {left: 10px}
    50% {left: 6px}
    75% {left: 10px}
    100% {left: 0px}
  }
}

// 404
#notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: block;
    font-size: 4rem;
  }
}

// preloader
#pre-loader {
  z-index: 9999999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  .message {
    text-align: center;
    font-size: $preloader-message-textsize;
    color: $preloader-message-colour;
  }
}

/*button styles*/

.decision-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  box-sizing: border-box;
  border: 2px solid $selected_blue;
  color: $selected_blue;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px $selected_blue;
  }

  &.selected {
    background-color: $selected_blue;
    color: #fff;

    &:hover {
      box-shadow: none;
    }
  }

  p {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
