#landing {
  .home {
    width: 40rem;
    text-align: center;
    height: 70%;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.25rem;

    .paragraph {
      text-align: justify;
      .subtle {
        color: #ccc;
        font-size: 1.2rem;
      }
    }

    hr {
      width: 5rem;
      border: 0;
      border-bottom: 1px solid $grey;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .prompt {
      text-align: center;
      position: relative;
    }

  }

  .begin-button {
    position: relative;
    margin: 0 auto;
    background: $action_green;
    width: 10rem;
    color: white;
  }
}
