//// Map
// vars

#map {
  .loader{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $background;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  header {
    height: 20%;
    padding: 1rem;
    box-sizing: border-box;
  }
  .map-container {
    height: 100%;
    width: 100%;
    position: relative;
    header {
      position: absolute;
      .subheading {
        width: 20rem;
        font-size: .9rem;
      }
    }
    .tooltip {
      position: absolute;
      background-color: rgba(0, 0, 0, .8);
      border: 1px solid rgba(0, 0, 0, .8);
      color: #fff;
      font-weight: bold;
      padding: 0.5rem;
      padding-top: 0.6rem;
      display: none;
      z-index: 1000;
      line-height: 1rem;
      border-radius: .2rem;

      &::after {
        position: absolute;
        left: -10px;
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;

        border-right: 10px solid rgba(0, 0, 0, .8);
      }

      .suburb-name {
        font-weight: 300;
      }
      .postcode {
        font-weight: 300;
        font-size: .9rem;
      }
      .price {

      }
      .payofftime {

      }
    }
    .overlay {
      z-index: 100;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      pointer-events: none;
      .legend {
        position: absolute;
        width: 8%;
        min-width: 100px;
        min-height: 30px;
        .label {
          text-align: center;
          display: block;
        }
        .bar {
          border: 1px solid #fff;
          padding: 0;
          box-sizing: border-box;
          overflow: hidden;
          height: 30px;
          width: 100%;
          span {
            display: inline-block;
            height: 100%;
          }
        }
        .range {
          display: inline-block;
          padding-top: 5px;
          margin-left: -25px;
          margin-right: -25px;
          &:last-child {
            float: right;
          }
        }
      }
      .legend.fill {
        right: 5%;
        bottom: 5%;
      }
      .legend.stroke {
        left: 5%;
        bottom: 5%;
      }
      .information {
        //background-color: rgba(255,255,255,0.8);
        border-radius: 2rem;
        min-width: 300px;
        min-height: 300px;
        height: 100%;
        width: 100%;
        position: relative;
        padding: 2rem;
        box-sizing: border-box;
        pointer-events: auto;
        h2 {
          text-align: left;
        }
        .close {
          position: absolute;
          top: 0;
          right: 0;
          margin: 2rem;
          background-color: $colour;
          mask: url('../images/cross.svg');
          mask-repeat: no-repeat;
          mask-size: contain;
          cursor: pointer;
          width: 40px;
          height: 40px;
          transition: .2s;
          &:hover {
            background-color: $red;
          }
        }
      }
      .information.loading{
        cursor: wait;
      }
    }
    svg {
      .background {
        fill: $background;
      }
      .suburbs {

      }
      .suburb {
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
      .suburb.active.selected {
        opacity: 1 !important;
        z-index: 2;
      }
      .suburb:not(.active) {
        stroke: $background;
        fill: #b7a18d;
        z-index: 0;
        opacity: 0.1;
      }
      .suburb.active {
        cursor: pointer;
        stroke: none;
        transition: opacity .75s;
        z-index: 1;
        &:hover {
          fill: $map_suburb-hover-colour !important;
        }
        &.dull {
          opacity: .1;
        }
      }
    }
  }
}
